@charset "utf-8";
/* CSS Document */

body{
	font-family:Trebuchet MS;
	background:url(http://localhost/Guarderia/imagenes/fondo_web.png) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a{
	text-decoration:none;
}

.cabecera{
	border-bottom:solid #606 2px;
	margin-top:175px;
}
#error_img{
	width: 5px;
	height: 5px;
}
#logo{
	position:absolute;
	left:60px;
	top:10px;
	}

#nombre{
	position:absolute;
	left:35%;
	top:10px;
	}	
	
.menu{
	list-style:none;
	clear:both;
	float:left;
	margin-top:15px;
	padding-left:15px;
	}
	
.enlace{
	border:medium #606 solid;
	border-radius:25px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	color:#606;
	text-align:center;
	}
.enlace ul {display: none;}
.enlace:hover ul{display: block;text-align: left; list-style: none;}	
.enlace:hover{
	border:medium #0000aa solid;
	color:#0000aa;	
	border-radius:25px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	}
	
.cuerpo{
	margin-left:225px;
	padding-bottom:75px;
	padding-right:10px;
	}

.pie{
	clear:both;
	margin-left:0px;
	padding-left:5px;
	margin-right:5px;
	font-size:12px;
	border-top:2px solid #606;
	position:fixed;
	bottom:0;
	width:99.5%;
	background-color:#00aa00;
	}
	
#info{
	background-color:#FF6;
	margin-left:-5px;
	width:75%;
	float:left;
	}

#enlaces{
	background-color:#99F;
	width:25%;
	float:right;
	}
	
.formulario{
	margin-left: 40%;
	margin-top:50px;
}

.titulo{
	color:#0000aa;
}

p{
	color:#0000aa;
}

.tabla_enlaces{
	border:2px #606 solid;
	padding:5px;
}
.contenido{
	display: block;
	width: 70%;
	background:#CC9;
	text-align:left;
	float:right;
	alignment-adjust:central;
	margin: 10px;
	border-radius: 15px;
	border-color:#C0C;
	border:thick;
}
.titulo{
	display: block;
	width: 60%;
	background: none;
	text-align:center;
	color:#C0C;
	float:inherit;
	alignment-adjust:central;
}
.img_cont{
	background:#093:
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	max-width: 800px;
	min-width: 200px;
}
.contenido img{
	background:#C6F;
	width: 100px;
	height: 100px;
	margin: 10px;
}
.text_cont{
	display:block;
	width: 80%;
	float:left;
	margin-left: 10%;
	margin-right: 10%;
	background:#FF9;
	color: #036;
	text-align: left;
	padding: 15px;
}
.tipo{
	width: 20%;
	display: block;
	float: right;
	text-align:left;
	text-wrap:normal:
}
.fecha{
	width: 20%;
	display: block;
	float: right;
	text-align: right;
	text-wrap:normal;
	padding-right: 10px;
}
	