@charset "utf-8";
/* CSS Document */

body{
	font-family:Trebuchet MS;
	background:url(http://localhost/Guarderia/imagenes/fondo_web2.jpg) no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a{
	text-decoration:none;
}

a:visited{
	text-decoration: none;
}

.cabecera{
	margin-top:190px;
}

#error_img{
	width: 5px;
	height: 5px;
}

#logo{
	position:absolute;
	left:48px;
	top:10px;
	}

#nombre{
	position:absolute;
	left:36%;
	top:20px;
	}	

.navega{
	clear:both;
	text-align:center;
	background: -webkit-linear-gradient(#AA44AA,#660066); /*Safari 5.1-6*/
	background: -o-linear-gradient(#AA44AA,#660066); /*Opera 11.1-12*/
	background: -moz-linear-gradient(#AA44AA,#660066); /*Fx 3.6-15*/
	background: linear-gradient(#AA44AA,#660066); /*Standard*/
	height: 30px;
	padding-bottom: 10px;
	text-decoration: none;
}	
	
.menu {
	display: inline;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	list-style: none;
	text-decoration: none;
}

.enlace {
	height: 30px;
	color:white;
	display: inline-block;
	margin:none;
	position: relative;
	cursor: pointer;
	padding-left:15px;
	padding-right:15px; 
	vertical-align: middle;
	padding-top: 10px;
	text-decoration: none;
}

.enlace:hover {
	padding-left:15px;
	padding-right:15px;
	padding-top: 10px;
	background: -webkit-linear-gradient(rgba(0,0,255,0.7),rgba(0,0,70,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(0,0,255,0.7),rgba(0,0,70,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(0,0,255,0.7),rgba(0,0,70,1)); /*Fx 3.6-15*/
	background: linear-gradient(rgba(0,0,255,0.7), rgba(0,0,70,1)); /*Standard*/
	vertical-align: middle;
}

.enlace ul {
	padding: 0;
	position: absolute;
	top: 39px;
	left: 0;
	width: 160px;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.enlace ul li { 
	background: -webkit-linear-gradient(rgba(0,0,255,0.7),rgba(0,0,70,1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(0,0,255,0.7),rgba(0,0,70,1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(0,0,255,0.7),rgba(0,0,70,1)); /*Fx 3.6-15*/
	background: linear-gradient(rgba(0,0,255,0.7), rgba(0,0,70,1)); /*Standard*/
	display: block; 
	color: #fff;
	padding-top:2px;
	padding-bottom:2px;
}

.enlace ul li:hover { 
	background: -webkit-linear-gradient(#AA44AA,#660066); /*Safari 5.1-6*/
	background: -o-linear-gradient(#AA44AA,#660066); /*Opera 11.1-12*/
	background: -moz-linear-gradient(#AA44AA,#660066); /*Fx 3.6-15*/
	background: linear-gradient(#AA44AA,#660066); /*Standard*/ 
}

.enlace:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
	
.enlace ul li a{
	color:#FFF;
	text-decoration:none;
	}	

.cuerpo{
	margin-left:75px;
	margin-right:75px;
	padding-bottom:75px;
	padding-right:10px;
	}

#info{
	background-color:#FF6;
	margin-left:-5px;
	width:75%;
	float:left;
	}

#enlaces{
	width:25%;
	float:right;
	}
	
.formulario{
	margin-left: 40%;
	margin-top:50px;
}

.titulo{
	color:#7302B0;
}

p{
	color:#0000aa;
}

.tabla_enlaces{
	border:3px #7302B0 solid;
	border-radius: 15px 3px 15px 3px; 
	color:#7302B0;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:7px;
	padding-right:7px;
	background: -webkit-linear-gradient(right top, #D8EFFF,#B2DFFF); /*Safari 5.1-6*/
	background: -o-linear-gradient(right top, #D8EFFF,#B2DFFF); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right top, #D8EFFF,#B2DFFF); /*Fx 3.6-15*/
	background: linear-gradient(right top, #D8EFFF,#B2DFFF); /*Standard*/ 
}

.tabla_enlaces a{
	color:#7302B0;
}

.tabla_enlaces:hover{
	border:3px solid;
	border-color:#7302B0;
	border-radius: 15px 3px 15px 3px; 
	color:#7302B0;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:7px;
	padding-right:7px;
	background: -webkit-linear-gradient(right top, #D5BCFF,#B28BF4); /*Safari 5.1-6*/
	background: -o-linear-gradient(right top, #D5BCFF,#B28BF4); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right top, #D5BCFF,#B28BF4); /*Fx 3.6-15*/
	background: linear-gradient(right top, #D5BCFF,#B28BF4); /*Standard*/ 
}


.contenido{
	display: block;
	width: 80%;
	background:#D8EFFF;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top:10px;
	height: 100%;
	margin-bottom: 15px;
	border:3px solid;
	border-color:#7302B0;
}

.contenido-calendario{
	display: block;
	background:#DDDDFF;
	text-align:left;
	border:thick;
	padding-bottom: 20px;
	margin-top: 20px;
	border:1px solid #999999;
}

.img_cont{
	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
	max-width: 800px;
	min-width: 200px;
}

.contenido img{
	width: 300px;
	margin: 10px;
}

.text_cont{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 30px;
	background:#FF9;
	color: #036;
	text-align: left;
	padding: 15px;
}

.tipo{
	width: 30%;
	text-wrap:normal;
}

.cabeceras{
	width :80%;
	display:block;
	color: #600;
}

.comentario{
	font-size:12px;
}

.mens_error{
	font-size:13px;
	color:#BB0000;
}

.img-portada{
	background: #D8EFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	border-width: 3px;
	border:solid #609;
	padding-left: 25px;
	padding-right: 25px;
}

/*Estilos del calendario*/

.calendar {
	text-align: center;
    width: 100%;
    min-width: 960px;
    border-collapse: collapse;
    background-color: #DDFFDD;
}

.calendar tbody tr:first-child th {
    color: #000000;
    font-size: 25px;
    margin: 0 0 10px 0;
    background-color: #DDDDFF;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #000000;
    font-size: 18px;
    background-color: #DDDDFF;
}

.calendar td {
    width: 14%; /* Force all cells to be about the same width regardless of content */
    border:1px solid #999999;
    height: 100px;
    vertical-align: top;
    font-size: 12px;
    padding: 0;
}

.calendar td:hover {
    background: #FFFFDD;
}

.day_listing {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #000000;
    padding: 5px 5px 0 0;
}

div.today {
    background: #FFFFFF;
    height: 100%;
    font-size: 14px;
    color:#FF0000;
}