@charset "utf-8";
/* CSS Document */

body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background:url(http://localhost/Guarderia/imagenes/fondo_web.png);
	background-attachment:fixed;
	}

a{
	text-decoration:none;
}

.cabecera{
	border-bottom:solid #606 2px;
	padding-bottom:100px;
}

#logo{
	float:left;
	padding-left:50px;
	}
	
#nombre{
	font-size:36px;
	color:#606;
	}

.menu{
	list-style:none;
	clear:both;
	float:left;
	margin-top:15px;
	padding-left:15px;
	}
	
.enlace{
	border:medium #606 solid;
	border-radius:25px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	color:#606;
	text-align:center;
	}
	
.enlace:hover{
	border:medium #0000aa solid;
	color:#0000aa;	
	border-radius:25px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	}
	
.cuerpo{
	margin-left:225px;
	padding-bottom:70px;
	}

.pie{
	clear:both;
	font-size:12px;
	border-top:2px solid #606;
	position:fixed;
	bottom:0;
	width:99.5%;
	background-color:#00aa00;
	}
	
#info{
	background-color:#FF6;
	width:75%;
	float:left;
	}

#enlaces{
	background-color:#99F;
	width:25%;
	float:right;
	}
	
.formulario{
	margin-left: 40%;
	margin-top:50px;
}

.titulo{
	color:#0000aa;
}

p{
	color:#0000aa;
}